.footer-wrapper {
  background-color: #101417;
}
.footer-wrapper a,
.contact a,
.contact li {
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 700;
}
.footer-wrapper a:hover {
  color: #d9b867;
}
.footer-wrapper h4 {
  color: #fff;
}
.contact li > * {
  display: flex;
  align-items: flex-start;
}
.contact li {
  margin-bottom: 15px;
}
.contact li > * img {
  margin-top: 4px;
  margin-right: 15px;
}
.copy-right {
  color: #8b8b8b;
}
