@import url("https://use.typekit.net/qtp3gcg.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: inline-block;
  max-width: 100%;
}
a,
button {
  display: inline-block;
  transition: all 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "adobe-caslon-pro", serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 40px;
}
p {
  line-height: 1.5;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  min-height: 44px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  border: 1px solid;
}
.btn.btn-white {
  border-color: #fff;
  color: #fff;
}
.btn-white:hover {
  background-color: #27343f;
  color: #fff;
  border-color: #27343f;
}
.heading-style {
  margin-bottom: 30px;
}
.heading-style h2 {
  text-transform: capitalize;
}
.heading-style h2 span {
  color: #c8b666;
}
.common-gap {
  padding-block: 30px;
}
